@media (max-width: 1024px)  
{
    /* ****LAPTOP**** */
    /* home */

    .card-container {
        width: 95%;
    }

    .card {
        width: 85%;
        height: 90%;
    }

    .card img {
        height: 6em;
    }

    .card-description {
        font-size: 1em;
        line-height: 20px;
    }

    .summary-container {
        width: 90%;
    }

    .summary-text p {
        font-size: 13px;
    }

    .summary-image img {
        height: 450px;
    }

    .example-container {
        width: 90%;
    }

    .example-pictures {
        width: 300px;
        height: 300px;
    }

    .example-pictures img {
        height: 150px;
        width: 150px;
    }

    .example-description p {
        line-height: 40px;
        font-size: 13px;
        margin-top: 50px;
    }

    #example-instagram, #example-contact {
        width: 120px;
        height: 30px;
        font-size: 14px;
        border-radius: 2px;
    }
}