@media (max-width: 1700px) {
    /* About */

    .about-container {
        height: 120vh;
    }
    
    .about-banner {
        height: 120vh;
    }

    .about-banner-overlay {
        height: 120vh;
    }

    .about-filler img {
        height: 210px;
        position: relative;
    }

    /* Contact */

    .contact-map h3 {
        width: 90%;
        margin: 20px auto;
    }

    iframe {
        width: 550px;
        height: 350px;
    }
}

@media (max-width: 1440px) {

    /* About */

    .about-text h2 {
        font-size: 20px;
    }

    .about-text p {
        font-size: 16px;
    }


    /* Home */

    .logo {
        padding: 0 10px 0 10px;
    }

    .card-container {
        width: 95%;
    }

    .summary-container {
        width: 85%;
    }

    .example-container {
        width: 85%;
    }
}

@media (max-width: 1160px) {

    /* About */

    .about-content {
        width: 97%;
    }

    /* Contact */


    .contact-banner {
        height: 160vh;
    }
    .contact-banner-overlay {
        height: 160vh;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: none;
    }

    .contact-form {
        margin-top: 100px;
    }

    .contact-map {
        width: 90%;
    }

    iframe {
        width: 100%;
        height: 350px;
    }
}

@media (max-width: 1024px) {

    /* Home */

    .navbar-menu a {
        font-size: 16px;
        margin: 0 1em;
    }    

    .card-container {
        width: 95%;
    }

    .card {
        width: 85%;
        height: 90%;
    }

    .card img {
        height: 6em;
    }

    .card-description {
        font-size: 14px;
        line-height: 22px;
    }

    .summary-container {
        width: 90%;
    }

    .summary-text p {
        font-size: 13px;
    }

    .summary-image img {
        height: 450px;
    }

    .example-container {
        width: 90%;
    }

    .example-pictures {
        width: 300px;
        height: 300px;
    }

    .example-pictures img {
        height: 150px;
        width: 150px;
    }

    .example-description p {
        line-height: 40px;
        font-size: 13px;
        margin-top: 50px;
    }

    #example-instagram {
        width: 140px;
        height: 50px;
        border-radius: 2px;
    }
}

@media (max-width: 900px) {

    /* Home */
    .navbar {
        grid-template-columns: 1fr 0.5fr;
    }

    .navbar-menu-mobile {
        width: 100%;
        grid-column: span 2;
    }

    #logo-name {
        height: 20px;
    }

    #logo-cube {
        height: 30px;
    }

    .navbar-links {
        display: none;
    }

    .navbar-menu ul {
        display: none;
    }

    .phone-menu-button {
        display: grid;
        align-items: center;
    }
    
    .banner1, .banner2, .banner3, .banner4, .banner5 {
        height: 100vh;
    }

    .banner-overlay h1 {
        width: 90%;
        top: 200px;
        font-size: 30px;
        line-height: 60px;
    }

    .banner-overlay {
        grid-template-rows: 0.6fr 1fr;
    }

    .banner-overlay span {
        font-size: 20px;
    }

    .banner-overlay button {
        font-size: 16px;
        width: 150px;
        height: 50px;
    }

    .title {
        text-align: center;
    }
    
    .card-container {
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: none;
    }

    .card-title {
        margin-top: 100px;
        margin-bottom: 0;
    }

    .card {
        padding: 10px;
        width: 70%;
        height: 300px;
        margin: 20px auto;
    }

    .summary-container {
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
    }

    .summary-image {
        text-align: center;
        margin-bottom: 50px;
    }

    .summary-image {
        height: 400px;
    }

    .summary-image img {
        height: 380px;
    }

    .summary-text {
        order: 1;
    }

    .example-container {
        grid-template-rows: 1fr;
        grid-template-columns: none;
        justify-items: center;
    }

    .example-pictures {
        height: 250px;
    }

    .example-content .title {
        order: 1;
        margin-top: 150px;
    }

    #example-instagram {
        margin-top: 80px;
        height: 60px;
        width: 160px;
    }



    /* About Us */

    .about-container {
        height: 130vh;
    }
    
    .about-banner {
        height: 130vh;
    }

    .about-banner-overlay {
        height: 130vh;
        grid-template-rows: 0.01fr 1fr;
    }

    .about-banner-overlay h1 {
        font-size: 26px;
    }

    .about-content {
        grid-template-rows: 1fr 0.1fr;
        grid-template-columns: none;
        width: 90%;
        height: 100%;
    }

    .about-text h2 {
        font-size: 20px;
    }

    .about-filler img {
        height: 110px;
        position: relative;
        top: -80px;
    }

    .about-text p {
        font-size: 16px;
    }


    /* Contact */

    .contact-container input {
        font-size: 14px;
    }


    .contact-form {
        width: 80%;
        margin-top: 100px;
    }

    .contact-form h1 {
        font-size: 26px;
    }

    .contact-form h2 {
        font-size: 18px;
    }
    
    #input-name, #input-email, #input-msg {
        width: 90%;
    }

    .contact-map h3 {
        width: 90%;
        margin: 0 auto;
    }

    iframe {
        margin-top: 50px;
        width: 90%;
        height: 220px;
    }



    /* Inventory */

    .marble, .onyx, .porcelain, .granite, .quartz {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 500px) {

    /* Home */

    .summary-container {
        grid-template-rows: 0.5fr 1fr;
    }

    .summary-image {
        margin-bottom: 60px;
    }



    /* About */

    .about-content {
        margin-top: 100px;
    }

    .about-banner-overlay h1 {
        font-size: 20px;
    }

    .about-banner-overlay h2 {
        font-size: 16px;
    }

    .about-banner-overlay p {
        font-size: 13px;
    }
}

@media (max-width: 425px) {
    
    /* Home */

    .summary-image img {
        height: 320px;
    }

    .summary-image {
        margin-bottom: 0;
    }

    .example-pictures, .example-pictures img {
        height: 130px;
        width: 130px;
    }

    .example-content .title {
        margin-top: 210px;
        margin-bottom: 0;
    }


    /* About */

    .about-banner, .about-container {
        height: 135vh;
    }
    
    .about-banner-overlay {
        height: 135vh;
        margin-bottom: 150px;
    }

    .about-banner-overlay h1 {
        margin-bottom: 30px;
    }

    .about-filler img {
        height: 100px;
        top: -50px;
    }

    /* Inventory */

    .item {
        width: 300px;
        height: 250px;
    }

    .item p {
        top: 240px;
    }
}

@media (max-width: 400px) {

    /* About */

    .about-banner, .about-container {
        height: 140vh;
    }
    
    .about-banner-overlay {
        height: 140vh;
        grid-template-rows: 0.01fr 1fr;
        margin-bottom: 150px;
    }
}

@media (max-width: 375px) {
    /* About */
    
    .about-banner, .about-container {
        height: 145vh;
    }
    
    .about-banner-overlay {
        height: 145vh;
        margin-bottom: 150px;
    }

    /* Inventory */

    .mini-nav a button {
        font-size: 14px;
        height: 30px;
        margin: 50px 5px;
    }
}

/* @media (min-height: 500px) and (max-height: 900px) {

   


    .about-banner-overlay h1 {
        font-size: 20px;
    }

    .about-content {
        grid-template-rows: 1fr 0.1fr;
        grid-template-columns: none;
        width: 90%;
        height: 100%;
    }


} */


@media (max-height:850px) {
    .banner1 {
        background-size: 2060px !important;
        background-position: 2000px !important;
    }
    
    .banner2 {
        background-size: 2060px !important;
        background-position: 2000px !important;
    }
    
    .banner3 {
        background-size: 1860px !important;
        background-position: 3000px !important;
    }
    
    .banner4 {
        background-size: 2060px !important;
        background-position: 2000px !important;
    }

    .banner-overlay h1 {
        top: 200px;
    }

    .card-container {
        width: 85%;
    }

    .contact-form {
        margin-top: 70px;
    }

    .contact-form h1 {
        font-size: 22px;
    }

    .contact-form h2 {
        font-size: 18px;
    }

    #input-name, #input-email, #input-msg {
        font-size: 14px;
    }
    
    #input-name, #input-email {
        width: 70%;
        height: 10px;
    }

    #input-msg {
        height: 90px;
        width: 70%;
    }

    iframe {
        height: 250px;
    }

    .about-content {
        grid-template-rows: 1fr 0.1fr;
        grid-template-columns: none;
        width: 90%;
        height: 100%;
    }

    .about-text h2 {
        font-size: 18px;
    }

    .about-filler img {
        height: 110px;
    }

    .about-text p {
        font-size: 16px;
    }

}

@media (max-height:820px) {
    .about-text h2 {
        font-size: 16px;
    }

    .about-text p {
        font-size: 13px;
    }

    .about-container {
        height: 155vh;
    }
    
    .about-banner {
        height: 155vh;
    }

    .about-banner-overlay {
        height: 155vh;
    }
}

@media (max-height: 780px) {
    .about-container {
        height: 165vh;
    }
    
    .about-banner {
        height: 165vh;
    }

    .about-banner-overlay {
        height: 165vh;
    }
}

@media (max-height: 700px) {

    .banner-overlay h1 {
        top: 150px;
    }

    iframe {
        width: 80%;
        height: 200px;
    }
}

@media (max-height: 700px) {

    .about-container {
        height: 175vh;
    }
    
    .about-banner {
        height: 175vh;
    }

    .about-banner-overlay {
        height: 175vh;
    }
}

