@media (max-width: 1024px) {
    /* home */

    .card {
        width: 85%;
        height: 30%;
    }

    .card img {
        height: 5em;
    }

    .card-description p {
        font-size: 1px;
    }
}