@media (max-width: 1024px) {
    /* home */

    .card {
        width: 85%;
        height: 90%;
    }

    .card img {
        height: 6em;
    }

    .card-description {
        font-size: 1em;
        line-height: 15px;
    }
}