@media (max-width: 1024px)  
{
    /* ****LAPTOP**** */
    /* Home */

    .card-container {
        width: 95%;
    }

    .card {
        width: 85%;
        height: 90%;
    }

    .card img {
        height: 6em;
    }

    .card-description {
        font-size: 14px;
        line-height: 22px;
    }

    .summary-container {
        width: 90%;
    }

    .summary-text p {
        font-size: 13px;
    }

    .summary-image img {
        height: 450px;
    }

    .example-container {
        width: 90%;
    }

    .example-pictures {
        width: 300px;
        height: 300px;
    }

    .example-pictures img {
        height: 150px;
        width: 150px;
    }

    .example-description p {
        line-height: 40px;
        font-size: 13px;
        margin-top: 50px;
    }

    #example-instagram, #example-contact {
        width: 120px;
        height: 30px;
        font-size: 14px;
        border-radius: 2px;
    }
}

@media (max-width: 425px) {
    /* Mobile L */
    /* Home */
    .navbar {
        grid-template-columns: 1fr 0.5fr;
    }

    #logo-name {
        height: 20px;
    }

    #logo-cube {
        height: 30px;
    }

    .navbar-links {
        display: none;
    }

    .navbar-menu ul {
        display: none;
    }

    .phone-menu-button {
        display: grid;
        align-items: center;
    }

    .navbar-menu-mobile {
        display: none;
    }

    .banner-overlay h1 {
        width: 90%;
        font-size: 30px;
    }

    .banner-overlay span {
        font-weight: 200;
        line-height: 10px;
        font-size: 20px;
    }

    .card-container {
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: none;
    }

    .summary-container {
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
    }

    .summary-pictures {
        order: 0;
    }

    .summary-text {
        order: 1;
    }

    .example-container {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: none;
    }
}