body {
    background-color: #282526;
    color: #FFFFFE;
    font-family: 'Raleway', sans-serif;
}

.navbar {
    background-color: #1D1F1F;
}

.logo img {
    height: 150px;
    border: 3px solid white;
}

.navbar-menu a {
    text-decoration: none;
    color: #FFFFFE;
}