body {
    background-color: #282526;
    color: #FFFFFE;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #1D1F1F;
    box-shadow: 0 0 5px 0 rgb(82, 82, 82);
    padding: 10px;
}

.logo {
    display: grid;
    justify-items: center;
}

.logo img {
    height: 120px;
    box-shadow: 0 0 1px 0 white;
}

.navbar-menu {
    display: grid;
    align-items: end;
}

.navbar-menu ul {
    display: flex;
    align-content: center;
    justify-content: space-around;
    list-style-type: none;
}

.navbar-menu a {
    text-decoration: none;
    color: #FFFFFE;
}

.banner {
    background: url(./resources/aaron-huber-G7sE2S4Lab4-unsplash.jpg);
}